# Environment configuration for Lab 04
PORT=8000
HOST=0.0.0.0
APP_ENV=production

# Đồng bộ token chính xác để vượt qua bài test 02_Auth của Newman
NOTIFICATION_TOKEN=mock_secret_token
AUTH_TOKEN=mock_secret_token
TOKEN=mock_secret_token
SECRET_TOKEN=mock_secret_token
API_KEY=mock_secret_token